body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-width: fit-content;
}

img {
    border: none;
}

#toolbar {
    padding: 1em;
    background-color: rgb(127, 127, 127);
    color: white;
}

canvas {
    image-rendering: pixelated;
}

.card {
    position: relative;
}

.card-selected {
    background-color: cornflowerblue;
}

.card-selected * {
    opacity: 0.3;
}

.card-page {
    position: relative;
    width: fit-content;
    font-family: "Calibri";
    background-color: rgb(63, 63, 63);
    padding: 1em;
    user-select: none;  /* disable text selection */
}

.card-page-selected {
    background-color: rgb(95, 95, 95);
}

.dropdown-button {
    border: 1px solid white;
    color: white;
    background-color: transparent;
    margin: 0.5em;
    margin-bottom: 0;
    margin-right: 0;
    border-radius: 0.25em;
    display: flex;
    align-items: center;
    height: 2rem;
}

.dropdown-button:hover {
    background-color: rgb(31, 31, 31);
    cursor: pointer;
}

.context-menu {
    position: absolute;
    background-color: white;
    color: rgb(31, 31, 31);
    font-size: 11pt;
    right: -9em;
    bottom: 4em;
    border-radius: 0.25em;
    z-index: 1;
    overflow: hidden;
}

.context-menu hr {
    margin: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.menu-option {
    padding: 0.75em;
}

.menu-option:hover {
    background-color: lightgray;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #ccc;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: white;
    transition: .2s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}



@media print {

    body {
        background-color: rgb(31, 31, 31);
    }

    #toolbar {
        display: none;
    }

    .page-group {
        margin-bottom: 20em;
        break-after: always;
    }
}