body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-width: fit-content;
}

img {
    border: none;
}

#toolbar {
    padding: 1em;
    background-color: rgb(127, 127, 127);
    color: white;
}

#context-menu {
    visibility: hidden;
    position: absolute;
    background-color: rgb(95, 95, 95);
    left: 0;
    top: 0;
    padding: 1em;
    border: 2px solid white;
    border-radius: 0.5em;
}

.card {
    position: relative;
}

.card-selected {
    background-color: cornflowerblue;
}

.card-selected * {
    opacity: 0.3;
}

.card-page {
    width: fit-content;
    background-color: rgb(63, 63, 63);
    padding: 1em;
    user-select: none;  /* disable text selection */
}

.card-page-selected {
    background-color: rgb(95, 95, 95);
}

@media print {

    body {
        background-color: rgb(31, 31, 31);
    }

    #toolbar {
        display: none;
    }

    .page-group {
        margin-bottom: 20em;
        break-after: always;
    }
}